<div class="landing">
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="row">
      <div class="carousel-indicators w-25">
        <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Diapositiva 1"></button>
        <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="1" aria-label="Diapositiva 2"></button>
        <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="2" aria-label="Diapositiva 3"></button>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="imgs/slider-bg.jpg" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-7">
              <h1>
                <span class="red-color">Venta 25% </span>
                <span class="red-color">Descuento </span>
                <span class="text-white font-weight-bold">En </span>
                <span class="text-white font-weight-bold">Todo</span>
              </h1>
              <p class="text-white font-weight-bold text-left mt-4"></p>
                <span class="d-block text-white font-weight-bold">Esta es tu última oportunidad para obtener un descuento del 25% en todo, ¡así que actúa rápido!</span>
                <span class="d-block text-white font-weight-bold">Reclama tu bolso gratis.</span>
              <a class="btn btn-danger w-25" href="products#Our-products text-white font-weight-bold">Compra Ahora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img src="imgs/slider-bg.jpg" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-7 pl-0 pr-0">
              <h1>
                <span class="red-color">Ofertas por</span>
                <span class="red-color"> Tiempo Limitado</span>
                <span class="text-white font-weight-bold"> Cupón</span>
                <span class="text-white font-weight-bold"> 40% Descuento</span>
              </h1>
              <p class="text-white font-weight-bold text-left mt-4"></p>
                <span class="d-block text-white font-weight-bold">¡Obtén un 40% de descuento ahora!</span>
                <span class="d-block text-white font-weight-bold">Nuestras ofertas de tienda son increíbles</span>
                <span class="d-block text-white font-weight-bold">¡Haz tu pedido ahora y recíbelo mañana!</span>
              <a class="btn btn-danger w-25" href="products#Our-products">Compra Ahora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img src="imgs/slider-bg.jpg" class="d-block w-100" alt="..."> -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-7 pl-0 pr-0">
              <h1>
                <span class="red-color">Apresúrate</span>
                <span class="red-color"> Ofertas</span>
                <span class="text-white font-weight-bold"> Limitadas</span>
              </h1>
              <p class="text-white font-weight-bold text-left mt-4"></p>
                <span class="d-block text-white font-weight-bold">¡Llama ahora!</span>
                <span class="d-block text-white font-weight-bold">Apresúrate, aprovecha nuestra mejor oferta de todas.</span>
                <span class="d-block text-white font-weight-bold">¡Reclama tu bolso gratis!</span>
              <a class="btn btn-danger w-25" href="products#Our-products">Compra Ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
