<div class="about-section mt-5" id="about-section">
  <div class="container">
    <div class="heading_container d-flex justify-content-center align-items-center pt-5 fs-1 fw-bold">
      <h1>¿Por qué elegirnos?</h1> </div>
    <div class="row justify-content-center p-2">
      <div class="box col-md-3 col-lg-4 bg-dark-color rounded-3 text-center">
        <div class="box-icon m-3">
          <svg xmlns="http://www.w3.org/200/svg" width="40" height="40" fill="currentColor" class="bi bi-truck"
               viewBox="0 0 16 16">
            </svg>
        </div>
        <h4>Envío rápido y seguro</h4> <p>Recibe tus pedidos en tiempo récord sin preocupaciones.</p>
      </div>
      <div class="box col-md-3 col-lg-4 bg-dark-color rounded-3 text-center">
        <div class="box-icon m-3">
          <svg xmlns="http://www.w3.org/200/svg" width="40" height="40" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
            </svg>
        </div>
        <h4>Envío gratuito</h4> <p>Disfruta de envíos sin costo adicional en todos tus pedidos.</p>
      </div>
      <div class="box col-md-3 col-lg-4 bg-dark-color rounded-3 text-center">
        <div class="box-icon m-3">
          <svg xmlns="http://www.w3.org/200/svg" width="40" height="40" fill="currentColor" class="bi bi-award-fill"
               viewBox="0 0 16 16">
            </svg>
        </div>
        <h4>Calidad superior</h4> <p>Productos de la más alta calidad, seleccionados especialmente para ti.</p>
      </div>
    </div>
  </div>
</div>