<div class="NewArrivals mt-5">
  <div class="container">
    <div class="row h-100">
      <div class="col-md-12 col-lg-4">
      </div>
      <div class="col-md-12 col-lg-7">
        <h2>¿Eres un nuevo visitante?</h2>
        <p>Ofrecemos las mejores ofertas y productos en nuestro sitio web. Puedes navegar por nuestro sitio web y comprar ahora, y puedes aprovechar las ofertas presentadas en nuestro sitio web.</p>
        <a class="btn btn-danger w-25" href="products#Our-products">Compra ahora</a>
      </div>
    </div>
  </div>
</div>
